* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    background: linear-gradient(#ffffff, #E9EBEF);
}

header {
    height: 20vh;
}

footer {
    height: 20vh;
}
.dates{
    font-size: 23px;
    margin-top: 37px;
}

.days {
    font-size: 15px;
}

 /*CALENDAR DAYS AND DATES*/
 .habit-calendar-container {
    display: grid;
    margin: 5% 5% 0 5%;
    grid-template-columns: 200px repeat(31, 1fr);
    grid-template-rows: 10px 10px;
    height:82px;
    text-align: center;
}

.habit-calendar-container .today-day{
    color:#28BFCF; 
}

 /*CALENDAR HEADER*/
.arrows-month-container {
    margin-top: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.calendar-arrow {
    background: transparent;
    border: none;
}

.calendar-arrow:hover {
    filter: drop-shadow(0px 10px 15px rgba(37, 37, 37, 0.8));
}

.card.is-flipped:focus {
	outline: none;
    box-shadow: none;
}
.card.is-flipped:hover {
	outline: none;
    box-shadow: none;
}
.card.is-flipped:active {
	outline: none;
    box-shadow: none;
}

/*CALENDAR ICON ROWS*/
.calendar-icon-rows {
    display: grid;
    margin: 0 5% 0 5%;
    grid-template-columns: 200px repeat(31, 1fr);
    grid-template-rows: 200px 20px;
}

.calendar-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 0.5px solid black;
    cursor: pointer;
}

.calendar-icon {
    border: 1px solid blue;
}
.calendar-day {
    border-right: 0.1px solid black;
    
}
.calendar-day:hover {
    cursor: pointer;

}
.calendar-icon-rows .unavilable-day{
    background:repeating-linear-gradient(
        45deg,
        black,
        black 10px,
        white 10px,
        white 20px
      );
}
.calendar-icon-rows .unavilable-day:hover{
    cursor: default;
}
.calendar-icon-rows .future-day{
    background-color: darkgrey;
}
.calendar-icon-rows .future-day:hover{
    cursor: default;
}
button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
}

#arrow-right {
    transform: rotate(180deg);
}

.current-month {
    text-align: center;
    font-size: 5em;
}