
.dropbtn {
    display: block;
    box-shadow:0px 0px 5px 1px rgba(0,0,0,0.1);
    background-color: #fff;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 15vw; 
    height: 70px;
    position: relative;  
     
}
  
.dropdownContent {
    position: absolute;
    background: linear-gradient(#fff, #e1e1e1);
    justify-items: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
}

.showing {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    width: 450px;
    height: 300px;
    overflow: scroll;
    justify-content: center;
}

.hidden {
    display: none; 
}

.dropdownContent button {
    justify-content: center;
    display: block;
}



.dropdownText svg {
    display: inline-block;
    height: 50px;
    
}

.arrowDrop svg {
    height: 15px; 
    width: 15px;
    
}


.calendar-icon-rows svg {
    width: 150px;
    height: 150px;
    
}
.arrowDrop {
    width: 20px;
    float: right;
}

.arrow-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
button:hover {
    cursor: pointer;
}
.colorBtn {
    height: 100px;
    width: 100px;
    padding: 10px;
    margin: 10px;
    border-style: none;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);;
}
.dropdownText {
    text-align: left;
}
.icons {
    height: 100px;
    width: 100px
}


.spinUp {
    animation: spinup .5s forwards;
    transform-origin: center;
}

.spinDown {
    animation: spindown .5s forwards;
    transform-origin: center;
}

@keyframes spindown {
    from {
        transform: rotateX(0deg);
    } to {
        transform: rotateX(180deg);
    }
}
@keyframes spinup {
    from {
        transform: rotateX(180deg);
    } to {
        transform: rotateX(0deg);
    }
}
