
.dropbtn {
    display: block;
    box-shadow:0px 0px 5px 1px rgba(0,0,0,0.1);
    background-color: #fff;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width:30vw; 
    height: 70px;
    
    
}
  
.dropdownContent {
    position: absolute;
    background: linear-gradient(#e4dfdf, #c1c2c5);
    justify-items: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.showing {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    width: 450px;
    height: 300px;
    overflow: scroll;
    justify-content: center;
}

.hidden {
    display: none; 
}

.dropdownContent button {
    justify-content: center;
    display: block;
}

.dropdownContent button:hover {
    background-color: #f1f1f1    
}

.dropbtn svg {
    display: inline-block;
    height: 30px;
}
button:hover {
    cursor: pointer;
}
.colorBtn {
    height: 90px;
    width: 90px;
    padding: 10px;
    margin: 10px;
    border-style: none;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);;
}
.dropdownText {
    float: left;
}
.dropdownArrow {
    float: right;
}

.dropdownArrow {
    animation: spin 1s;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        tranform: rotate(180deg);
    }
}
