* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    background: linear-gradient(#ffffff, #E9EBEF);
}
.dates{
    font-size:30px;
    height:50%;

}
.days {
    font-size: 16px;
    height:50%;
}
 /*CALENDAR DAYS AND DATES*/
 .habit-calendar-container {
    display: grid;
    margin: 5% 5% 0 5%;
    grid-template-columns: 200px repeat(31, 1fr);
    grid-template-rows: 10px 10px;
    height:82px;
    text-align: center;
}

.habit-calendar-container .today-day{
    color:#28BFCF; 
}
.logo {
    width: 30vw;
    margin: 10px 0 0 10px;
}

#habit-btn-container {
    display: grid;
    margin: auto auto;
    align-items: center;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
    
    width:500px;
    grid-template-rows: 300px;
}
.habit-btn{
    height: 200px;
    width: 200px;
    background: transparent;
    border: 15px solid #28BFCF;
    box-sizing: border-box;
    border-radius: 50%;
    font-size: 9em;
    justify-self: center;
    align-self: center;
    margin: auto;
    filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.25));
}

.habit-btn.calendar {
    border-radius: 0%;
    margin: 0 5% 0 5%;
}

.habit-btn:hover {
    filter: drop-shadow(0px 10px 15px rgba(37, 37, 37, 0.8));
}
 /*CALENDAR HEADER*/
.arrows-month-container {
    margin-top: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.calendar-arrow {
    background: transparent;
    border: none;
}

.calendar-arrow:hover {
    filter: drop-shadow(0px 10px 15px rgba(37, 37, 37, 0.8));
}



/*CALENDAR ICON ROWS*/
.calendar-icon-rows {
    display: grid;
    margin: 0 5% 0 5%;
    grid-template-columns: 200px repeat(31, 1fr);
    grid-template-rows: 200px 20px;
}

.calendar-icon {
    border: 1px solid blue;
}
.calendar-day {
    border: 1px solid black;
}
.calendar-icon-rows .unavilable-day{
    background:repeating-linear-gradient(
        45deg,
        black,
        black 10px,
        white 10px,
        white 20px
      );
}
.calendar-icon-rows .future-day{
    background-color: darkgrey;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
}

#arrow-right {
    transform: rotate(180deg);
}

.current-month {
    text-align: center;
    font-size: 5em;
}