.dropbtn {
    background-color: transparent;
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 150px; 
    outline: none;
}
  
.dropdown {
    border-radius: 20px;
    border: 5px solid #28BFCF;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgb(0, 0, 0.25)); 
    position: relative;
    display: inline-block;
}

.dropdownContent {
    position: absolute;
    background-color: #f9f9f9;
    justify-items: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.showing {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    width: 450px;
    height: 300px;
    overflow: scroll;
    
}
.hidden {
    display: none; 
}

.dropdownContent a {
    justify-content: center;
    display: block;
}

.dropdownContent a:hover {
    background-color: #f1f1f1    
}

.colorBtn {
    height: 90px;
    width: 90px;
    padding: 10px;
    margin: 10px;
    border-style: none;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);;
}